{% extends 'tickets/base.html' %}

{% block content %}


<h2>Bienvenido a su sistema de tickets.</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate quibusdam accusantium totam eligendi, nisi
nesciunt a fuga commodi, aliquam ullam repellat. Accusantium unde cum modi excepturi illum qui atque ratione.
Officiis quis dolore dolor mollitia eligendi, perferendis blanditiis non enim dicta nostrum? Perspiciatis veniam
natus quaerat distinctio ratione nam molestiae corrupti magni commodi, odit laborum omnis laboriosam est neque
nesciunt?</p>

{% endblock %}