<!-- {% extends 'core/base.html' %}

{% block content %}

<h2>Formulario edicion Tickets</h2>
{% if ticket %}
<form action="{% url 'edited' %}" method="post" class="col-7 mx-auto">
    {% csrf_token %}
    <input type="number" class="input form-control" name="id" value="{{ ticket.id }}" required hidden> 
    <label class="form-label">Name:</label>
    <input type="text" class="input form-control" name="name" value="{{ ticket.name }}" required>

    <label class="form-label">Description:</label>
    <textarea type="text" rows="5" class="input form-control" name="description" required>{{ ticket.description }}</textarea>
    
    <label class="form-label">Tech:</label>
    <input type="text" class="input form-control" name="tech" value="{{ ticket.tech }}" required>
    
    <div class="is-grouped mt-5">
        <button class="btn btn-warning">Editar</button>
        <a class="btn btn-dark" href="{% url 'ticket_list' %}">Back to home</a>
    </div>
</form>
{% else %}
<h3>No se encontro ticket</h3>
{% endif %}
{% endblock %} -->